<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-fluor-sqlcipher" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>fluor-sqlcipher</name>
    <js-module name="fluor-sqlcipher" src="www/fluor-sqlcipher.js">
        <clobbers target="cordova.plugins.fluorSqlcipher" />
    </js-module>

    <dependency id="cordova-sqlcipher-adapter" url="https://github.com/OutSystems/cordova-sqlcipher-adapter.git" commit="0.1.7-OS5" />

    <engines>
        <engine name="cordova" version=">=6.4.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
    </engines>
</plugin>
